/* 
 This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
 Please leave this notice in place, along with any additional credits below.
 ---------------------------------------------------------------
 CSS3 Multicolumn layout, column number changes based on width of viewer
*/

body { font: normal 0.8764em/1.5em; margin:0}
html>body { font-size: 14px; } 
p { margin: 1.3125em  0; font-size: 1.1429em; line-height: 1.3125em; }
li {
	font-size: 100%;
}
h1 { margin: 0.6563em 0; font-size: 2.2857em; line-height: 0.6563em; }
h2 { margin: 0.875em 0; font-size: 1.7143em; line-height: 0.875em; }
h3 { margin: 1em 0; font-size: 1.5em; line-height: 1em; }
h4 { margin: 1.1667em 0; font-size: 1.2857em; line-height: 1.1667em; }
h5 { margin: 1.3125em 0; font-size: 1.1429em; line-height: 1.3125em; }
h6 { margin: 1.5em 0; font-size: 1em; line-height: 1.5em; }
body,p,td,div {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    line-height: 1.4em;
    font-size: 14px;
    color: #333;
    word-wrap: break-word
}
h1,h2,h3,h4 {
    color: #333;
    line-height:1.5em;
}
p {
    margin: 0 0 1.7em 0
}
a {
    color: rgb(13,110,161);
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out
}
a:hover {
    color: #3593d9
}
h2 em {
    font-size: 12px;
    color: #111;
    padding-left: 10px
}
.footnote {
    font-size: .8em;
    vertical-align: super;
    color: rgb(13,110,161)
}
#wrapper img {
    max-width: 100%
}
dt {
    font-weight: bold
}
dd {
    margin-bottom: 1em
}
@media screen {
    .inverted, .inverted #wrapper { background:#111 !important }
    .inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,
    .inverted h3,.inverted h4, .inverted h5, .inverted h6, .inverted pre,
    .inverted code,.inverted th {
        color:#eee !important;
    }
    .inverted a { color:#fff;text-decoration:underline }
    #wrapper {
        background:transparent;
        color: #303030;
        overflow: auto;
        text-indent: 0px;
        padding: 10px;
        margin:10px;
    }
}

@media only screen and (max-width: 4500px) {
  
	body {
    font-size: 0.8em;
    line-height: 1.5em;
	}
	#wrapper {
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
}

}


@media only screen and (max-width: 1900px) {
    
	body {
        font-size: 0.8em;
        line-height: 1.5em;
	}
	#wrapper {
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
	}
	
}

@media only screen and (max-width: 1100px) {
    
	body {
        font-size: 0.8em;
        line-height: 1.5em;
	}
	#wrapper {
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
	}
	
}


@media only screen and (max-width: 599px) {
    
	body {
        font-size: 0.8em;
        line-height: 1.5em;
	}
	#wrapper {
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
	}
	
}

li>p {
    margin: 0 0 1em
}
ul ul,ul ol {
    margin-bottom: 1em
}
caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr{
    border-spacing:0;
}
table{
    display:table;
    table-layout:fixed;
    border-collapse:collapse;
    empty-cells:hide;
    margin:0;padding:0;
    margin-bottom:24px;
    border:0;
}
caption{
    display:table-caption;
    font-weight:bold;
}
col{display:table-column;}
colgroup{display:table-column-group;}
tbody{display:table-row-group;}
tfoot{display:table-footer-group;}
thead{display:table-header-group;}
td,th{display:table-cell;}
th{font-weight:bold;}
tr{display:table-row;}

table{
    margin-top:-1px;
    margin-bottom:23px;
    border:1px solid rgba(0,0,0,0.25);
}
table th,
table td{
    padding:0 1em;
    font-size:1.1em;
    line-height:23px;
}
table thead{
    background-color:rgba(0,0,0,0.15);
}
table tbody{
    background-color:rgba(0,0,0,0.05);
}
table tfoot{
    background-color:rgba(0,0,0,0.15);
}
table tr:nth-child(odd){background-color:rgba(255,255,255,0.06);}
table tr:nth-child(even){background-color:rgba(0,0,0,0.06);}
table th:nth-child(odd),
table td:nth-child(odd){background-color:rgba(255,255,255,0.06);}

table td:nth-child(even){background-color:rgba(0,0,0,0.06);}

table thead{
    border:1px solid rgba(0,0,0,0.15);
    border-bottom:1px solid rgba(0,0,0,0.2);
}
table tfoot{
    border:1px solid rgba(0,0,0,0.15);
    border-top:1px solid rgba(0,0,0,0.2);
}
figure {position:relative;display:inline-block;margin-bottom:1.2em}
figcaption {text-align:center;position:absolute;background:rgba(0,0,0,0);width:100%;left:0;bottom:0;color:rgba(255,255,255,0);-webkit-transition:all .2s ease-in-out;
}
figure:hover {
    cursor:pointer
}
figcaption:hover {background:rgba(0,0,0,.56);color:rgba(255,255,255,1);}

@media print {
    body {
        overflow: auto;
        max-width:600px !important;
    }
    #wrapper {
        background: #fff;
        position: relative;
        color: #303030;
        text-indent: 0px;
        padding: 10px;
        font-size:85%;
    }
    
}
.footnotes p {display:inline}